.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: bisque;
    padding: 15px 30px;
    color: darkblue;    
}

.search-form {
    display: flex;
    align-items: center;
}


.search-form input {
  padding: 8px 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-right: none; 
  outline: none;
  width: 200px;
}

/* Search Button */
.search-form button {
  padding: 8px 15px;
  font-size: 14px;
  background-color: #007BFF;
  color: white;
  border: 1px solid #007BFF;
  cursor: pointer;
}

.search-form button:hover {
  background-color: #0056b3;
}
